name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  notes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show tag
        run: echo "Release tag: $GITHUB_REF_NAME"
